body {
    background-image:  url("../images/white-wood.jpg");
}

.input-group {
    margin-left: 63px;
}
.box {
    position: absolute;
    height: 290px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 50%;
    color: white;
    background-color: gray;
    border-radius: 20px;
    padding: 15px 10px 10px 10px;
    font-size: 18px;
}

#results {
    position: absolute;
    height: 250px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 75%;
    left: 50%;
    color:white;
    background-color: #cccccc;
    border-radius: 20px;
    padding: 10px 10px 10px 25px;
    text-align: center;
    font-size: 18px;
}

#tip{
    margin-left: 123px;
    margin-right: -65px;

}

#between {
    margin-left:30px;
}

#bill {
    margin-right: 149px;
}

#spam {
    margin-left: 122px;
}

#spam2 {
    margin-left: 60px;
    margin-right: -106px;
}

#spam3 {
    margin-left: 67px;
    margin-right: -116px;
}

#persons {
    width: 48px;
    margin-left: 113px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#tipinput {
    width:  35%;
    
}

#split {
    margin-top: 18px;
    width: 45%;
    margin-left: 63px;
}

#calculate {
   margin: 20px;
   margin-left: 38%;
}

#divide {
    margin-top: 5px;
}
/* 
#share-results {
    position: absolute;
    height: 50px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 90%;
    left: 50%;
    color:white;
    background-color: #cccccc;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px 10px 10px 25px;
    text-align: center;
    font-size: 18px;
    background-color: gray
} */
